.cart-container {
  padding-top: 10em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
}

table {
  width: 50%;
}

.button-container {
  margin-top: 10px;
  display: flex;
  width: 50%;
  justify-content: space-around;
}

.erase {
  cursor: pointer
}