.detail-container {
  padding-top: 10em;
  display: flex;
  justify-content: center;

}
.detail-img {
  width: 400px;
  height: 400px;
}
.example-card {
  width: 600px;
  height: fit-content;
  display: flex;
  
  padding: 30px;
}
.detail-header {
  text-align: center;
}

.success-snackbar {
  background-color: green;
  color: white;
}

.error-snackbar {
  background-color: red;
  color: white;
}

.detail-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}