.products-container {
    padding-top: 10em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-container {
    margin: 2em;
    border: 1px solid gray;
    border-radius: 2rem;
    width: 60%;
    height: 3em;
    padding: 1em;
    display: flex;
    align-items: center;
}

.button-ordenar {
    margin-right: 2em;
}