
.product-img {
    width: 300px;
    height: 300px;
}

.example-card {
    width: 400px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    margin: 20px;
}

.product-header {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.rating {
    flex-direction: row-reverse;
    display: flex;
}

.rating .estrella {
    position: relative;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    font-style: normal;
}

.rating .estrella::before {
    content: '\f005';
    position: absolute;
    font-family: fontAwesome;
    font-size: 25px;
    color: #111;
    transition: .5s;
}

.rating .estrella:hover ~ .estrella::before,
.rating .estrella:hover::before,
.rating .estrella:checked ~ .estrella::before,
.rating .estrella:checked::before{
    color: rgb(51, 165, 89);
}

