<div class="homePage">
    <img src="../../../../assets/img/fondoHomePage.jpg" class="homePageImg">
</div>

<div class="dNuestrosProductos">
    <div class="dNuestros">
        <h1 class="hNuestros">Nuestros Productos</h1>
    </div>

    <div class="dProductosDestacados">
        <div class="dProductos">
            <div class="dProducto" *ngFor="let producto of productos">
                <a href="" class="aProducto">
                    <img src="{{producto.imgUrl}}" alt="">
                    <div class="dNombProd">
                        <h2 class="hNombreProd">{{producto.nombre}}</h2>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>