.homePage {
    overflow: hidden;
    position: relative;
    height: 100vh;

    .homePageImg {
        width: 100%;
        height: auto;
        position: relative;
        z-index: 0;
    }
}

.dNuestrosProductos {
    height: 67.5rem;
    background-color: rgba(255, 225, 195, 0.4);

    .dNuestros {
        display: flex;
        padding-top: 3.75rem;
        justify-content: center;

        .hNuestros {
            margin: 0rem;
            font-size: 3rem;
            font-weight: 400;
            font-style: italic;
            color: rgba(0, 0, 0, 0.4)
        }
    }

    .dProductosDestacados {
        display: flex;
        margin: 0rem;
        height: 37.5rem;
        justify-content: center;
        padding-top: 5rem;
        .dProductos {
            width: 95rem;
            height: 600;
            /* background-color: burlywood; */
            display: flex;
            align-items: center;
            justify-content: space-between;
            .dProducto {
                width: 20.6rem;
                height: auto;
                .aProducto {
                    text-decoration: none;
                    color: rgba(0, 0, 0, 0.4);
                    .dNombProd {
                        display: flex;
                        justify-content: center;
                        .hNombreProd {
                            margin: 0rem;
                            width: auto;
                            padding-top: 10px;
                        }
                    }
                }
            }
        }
    }
}