<div class="homePage">

    <div class="dEslogan">
        <div class="dLogoInst">
            <a href="https://www.instagram.com" target="_blank" class="aInstLogo">
                <img src="../../../../assets/img/instagramLogo.svg" class="logoInst">
            </a>
        </div>
        <div class="dMsjEslogan">
            <p class="msjEslogan">Elevando eventos, creando momentos inolvidables...</p>
        </div>
    </div>

    <div class="logo">
        <div class="dLogo">
            <a href="" class="aLogo">
                <img src="../../../../assets/img/logo.svg" class="imgLogo">
            </a>
        </div>

        <div class="dInicio">
            <a href="" class="aInicio">
                <h2>INICIO</h2>
            </a>
        </div>

        <div class="dProd">
            <ul class="menu-horizontal">
                <li>
                    <h2>PRODUCTOS</h2>
                    <ul class="menu-vertical">
                        <li><a (click)="scrollToElement('sillas')" >Sillas</a></li>
                        <li><a (click)="scrollToElement('sillones')" >Sillones</a></li>
                        <li><a (click)="scrollToElement('mesas')" >Mesas</a></li>
                        <a href=""></a>
                    </ul>
                </li>
            </ul>
            <a href="">
                <h2>CONTACTO</h2>
            </a>
            <a href="">
                <h2>CONOCENOS</h2>
            </a>
        </div>

        <div class="dMiCuenta">
            <a href="login" class="aMiCuenta">
                <img src="../../../../assets/img/miCuenta.svg" class="iMicuenta">
                <p class="pMiCuenta">Mi Cuenta</p>
            </a>
        </div>

    </div>

    <img src="../../../../assets/img/fondoHomePage.jpg" class="homePageImg">

</div>

<div class="dNuestrosProductos">
    <div class="dNuestros">
        <h1 class="hNuestros">Nuestros Productos</h1>
    </div>

    <div class="dProductosDestacados">
        <div class="dProductos">
            <div class="dProducto" *ngFor="let producto of productos">
                <a href="" class="aProducto">
                    <img src="{{producto.imgUrl}}" alt="">
                    <div class="dNombProd">
                        <h2 class="hNombreProd">{{producto.nombre}}</h2>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div id="sillas" class="dNuestrosProductos">
    <div class="dNuestros">
        <h1 class="hNuestros">Sillas</h1>
    </div>

    <div class="dProductosDestacados">
        <div class="dProductos">
            <div class="dProducto" *ngFor="let producto of productos">
                <a href="" class="aProducto">
                    <img src="{{producto.imgUrl}}" alt="">
                    <div class="dNombProd">
                        <h2 class="hNombreProd">{{producto.nombre}}</h2>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div id="mesas" class="dNuestrosProductos">
    <div class="dNuestros">
        <h1 class="hNuestros">Mesas</h1>
    </div>

    <div class="dProductosDestacados">
        <div class="dProductos">
            <div class="dProducto" *ngFor="let producto of productos">
                <a href="" class="aProducto">
                    <img src="{{producto.imgUrl}}" alt="">
                    <div class="dNombProd">
                        <h2 class="hNombreProd">{{producto.nombre}}</h2>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div id="sillones" class="dNuestrosProductos">
    <div class="dNuestros">
        <h1 class="hNuestros">Sillones</h1>
    </div>

    <div class="dProductosDestacados">
        <div class="dProductos">
            <div class="dProducto" *ngFor="let producto of productos">
                <a href="" class="aProducto">
                    <img src="{{producto.imgUrl}}" alt="">
                    <div class="dNombProd">
                        <h2 class="hNombreProd">{{producto.nombre}}</h2>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>